<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="AuthServer" monitorInterval="30">
    <Properties>
        <Property name="baseDir">/var/log/seagate/auth/encryptcli</Property>
    </Properties>

    <Appenders>

        <RollingFile name="ROLLINGFILE" fileName="${baseDir}/encryptutil.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ROLLINGFILE"/>
        </Root>
    </Loggers>
</Configuration>
