swagger: '2.0'
info:
  version: latest
  description: s3iamcli GetTempAuthCredentials -a \<Account Name> --password \<Account Password> [-d <Duration in seconds>] [-n <User Name>]
  title: IAM API - Get Temporary Auth Credentials
host: s3.seagate.com
schemes:
  - http
  - https
paths:
  '/':
    post:
      tags:
        - Get Temporary Auth Credentials
      parameters:
        - name: Action
          in: query
          type: string
          required: true
        - name: Account-Name
          in: query
          description: Password
          type: string
          required: true
        - name: Content-Type
          in: header
          description: Specifies content type.
          type: string 
        - name: X-Amz-Date
          in: header
          description: Date header used to create the signature.
          type: string
      produces:
        - application/xml
      responses:
        '201':
          description: OK
          schema:
            type: object
            xml:
              name: GetTempAuthCredentialsResponse
            properties:
              GetTempAuthCredentialsResult:
                type: object
                properties:
                  AccessKey:
                    type: object
                    properties:
                      UserName:
                        type: string
                      AccessKeyId:
                        type: string
                      Status:
                        type: string
                      SecretAccessKey:
                        type: string
                      ExpiryTime:
                        type: string
                      SessionToken:
                        type: string
              ResponseMetadata:
                type: object
                properties:
                  RequestId:
                    type: string
          headers:
            Content-Type:
              type: string
            Content-length:
              type: integer
            connection:
              type: string

        '404':
          description: NoSuchEntity
          schema:
            type: object
            xml:
              name: ErrorResponse
            properties:
              Error:
                type: object
                properties:
                  Code:
                    type: string
                    example: NoSuchEntity
                  Message:
                    type: string
                    example: The request was rejected because it referenced an entity that does not exist.
              RequestId:
                type: string
          headers:
            Content-Type:
              type: string
            Content-length:
              type: integer
            connection:
              type: string
    