swagger: '2.0'
info:
  version: latest
  description: s3iamcli GetAccountLoginProfile -n \<Account Name>
  title: IAM API - Get Account Login Profile
host: s3.seagate.com
schemes:
  - http
  - https
paths:
  '/':
    post:
      tags:
        - Get Account Login Profile
      parameters:
        - name: Action
          in: query
          type: string
          required: true
        - name: AccountName
          in: query
          type: string
          required: true
        - name: Access Key
          in: query
          type: string
          required: true
        - name: Secret Key
          in: query
          type: string
          required: true
        - name: Content-Type
          in: header
          description: Specifies content type.
          type: string 
        - name: X-Amz-Date
          in: header
          description: Date header used to create the signature.
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: OK
          schema:
            type: object
            xml:
              name: GetAccountLoginProfileResponse
            properties:
              GetAccountLoginProfileResult:
                type: object
                properties:
                  LoginProfile:
                    type: object
                    properties:
                      AccountName:
                        type: string
                      CreateDate:
                        type: string
                      PasswordResetRequired:
                        type: boolean
              ResponseMetadata:
                type: object
                properties:
                  RequestId:
                    type: string
          headers:
            Content-Type:
              type: string
            Content-length:
              type: integer
            connection:
              type: string
              
        '401':
          description: InvalidAccessKeyId
          schema:
            type: object
            xml:
              name: ErrorResponse
            properties:
              Error:
                type: object
                properties:
                  Code:
                    type: string
                    example: InvalidAccessKeyId
                  Message:
                    type: string
                    example: The AWS access key Id you provided does not exist in our         records.
              RequestId:
                type: string
          headers:
            Content-Type:
              type: string
            Content-length:
              type: integer
            connection:
              type: string
    