swagger: '2.0'
info:
  version: latest
  description: s3iamcli ChangePassword --old_password \<Old User Password> --new_password \<New User Password>
  title: IAM API - Change Password
host: s3.seagate.com
schemes:
  - http
  - https
paths:
  '/':
    post:
      tags:
        - Change Password
      parameters:
        - name: Action
          in: query
          type: string
          required: true
        - name: Version
          in: query
          type: string
          required: false
        - name: OldPassword
          in: query
          type: string
          required: true
        - name: NewPassword
          in: query
          type: string
          required: true
        - name: Access Key
          in: query
          type: string
          required: true
        - name: Secret Key
          in: query
          type: string
          required: true
        - name: Content-Type
          in: header
          description: Specifies content type.
          type: string
        - name: User-agent
          in: header
          description: >-
              Header to identify application, it's version number and programming
              language.
          type: string
          required: true
        - name: X-Amz-Date
          in: header
          description: Date header used to create the signature.
          type: string 
        - name: Content-Length
          in: header
          description: The Content-Length header indicates the size of the message body, in bytes.
          type: string
          required: true
      produces:
        - application/xml
      responses:
        '200':
          description: OK
          schema:
            type: object
            xml:
              name: ChangePasswordResponse
            properties:
              ResponseMetadata:
                    type: object
                    properties:
                      RequestId:
                        type: string
          headers:
            Content-Type:
              type: string
            Content-length:
              type: integer
            connection:
              type: string

        '401':
          description: InvalidUserType
          schema:
            type: object
            xml:
              name: ErrorResponse
            properties:
              Error:
                type: object
                properties:
                  Code:
                    type: string
                    example: InvalidUserType
                  Message:
                    type: string
                    example: Only IAM user can change their own password.
              RequestId:
                type: string
          headers:
            Content-Type:
              type: string
            Content-length:
              type: integer
            connection:
              type: string
    
    