[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	ignore = dirty
[submodule "third_party/libevent"]
	path = third_party/libevent
	url = https://github.com/libevent/libevent.git
	ignore = dirty
[submodule "third_party/libevhtp"]
	path = third_party/libevhtp
	url = https://github.com/criticalstack/libevhtp.git
	branch = develop
	ignore = dirty
[submodule "third_party/motr"]
	path = third_party/motr
	url = https://github.com/Seagate/cortx-motr.git
