[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = ../jsoncpp
	ignore = dirty
[submodule "third_party/libevent"]
	path = third_party/libevent
	url = ../libevent
	ignore = dirty
[submodule "third_party/libevhtp"]
	path = third_party/libevhtp
	url = ../libevhtp
	branch = develop
	ignore = dirty
[submodule "third_party/mero"]
	path = third_party/mero
	url = ../mero
	ignore = dirty
