# Python byte-compiled / optimized / DLL files
__pycache__/
auth-utils/jclient/dependency-reduced-pom.xml
auth-utils/jclient/target/
auth-utils/jcloudclient/dependency-reduced-pom.xml
auth-utils/jcloudclient/target/
auth/dependency-reduced-pom.xml
auth/target/
bazel-*
s3mempoolmgrut.*
s3ut.*
server/jsoncpp.cc
st/clitests/jclient.jar
st/clitests/jcloudclient.jar
st/clitests/mero_st/
third_party/lustre-2.5.1-headers/
rpmsandbox/
*.rpm
m0trace.*
ssl/ssl_sandbox/
third_party/cached_*.git.rev
core.*
ansible/ansible-run.log
ansible/*.retry
