[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
	ignore = dirty
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
	ignore = dirty
[submodule "third_party/googlemock"]
	path = third_party/googlemock
	url = https://github.com/google/googlemock.git
	ignore = dirty
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	ignore = dirty
[submodule "third_party/libevent"]
	path = third_party/libevent
	url = https://github.com/libevent/libevent.git
	ignore = dirty
[submodule "third_party/libevhtp"]
	path = third_party/libevhtp
	url = https://github.com/seagate-ssg/libevhtp.git
	branch = develop
	ignore = dirty
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://github.com/GNOME/libxml2.git
	ignore = dirty
[submodule "third_party/mero"]
	path = third_party/mero
	url = ../mero
	ignore = dirty
[submodule "third_party/statsd"]
	path = third_party/statsd
	url = https://github.com/etsy/statsd.git
	ignore = dirty
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore = dirty
