# Python byte-compiled / optimized / DLL files
BUILD
__pycache__/
auth-utils/jclient/dependency-reduced-pom.xml
auth-utils/jclient/target/
auth-utils/jcloudclient/dependency-reduced-pom.xml
auth-utils/jcloudclient/target/
auth/dependency-reduced-pom.xml
auth/target/
bazel-*
s3mempoolmgrut.*
s3ut.*
s3backgrounddelete/*.pyc
s3recovery/*.pyc
server/jsoncpp.cc
st/clitests/jclient.jar
st/clitests/jcloudclient.jar
st/clitests/motr_st/
st/dummyservers/cortx-s3-http/*.pyc
third_party/lustre-2.5.1-headers/
rpmsandbox/
*.rpm
m0trace.*
ssl/ssl_sandbox/
third_party/cached_*.git.rev
core.*
ansible/ansible-run.log
ansible/*.retry
.DS_Store
auth-utils/s3iamcli/build/
auth-utils/s3iamcli/dist/
auth-utils/s3iamcli/s3iamcli.egg-info/
st/clitests/tests-out/
auth/encryptcli/dependency-reduced-pom.xml
auth/encryptcli/target/
auth/encryptutil/target/
auth/server/dependency-reduced-pom.xml
auth/server/target/
.*.sw[po]
.sw[po]
*~
\#*#
mempool/.deps/
mempool/.dirstamp
mempool/.libs/
*.lo
*.o
s3backgrounddelete/build/
s3backgrounddelete/dist/
s3backgrounddelete/s3backgrounddelete.egg-info/
s3recovery/build/
s3recovery/dist/
s3recovery/s3recovery.egg-info/
st/clitests/jclient.properties
st/clitests/jcloud.properties
.vscode/*

