{
  "server_node": {
    "1114a50a6bf6f9c93ebd3c49d07d3fd4": {
      "cluster_id": "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6",
      "hostname": "ssc-vm-2752.colo.seagate.com",
      "network": {
        "data": {
          "public_fqdn": "srvnode-1.data.public",
          "private_fqdn": "srvnode-1.data.private"
        }
      },
      "s3_instances": "1"
    }
  },
  "cortx": {
    "software": {
      "openldap": {
        "root": {
          "user": "admin",
          "secret": "gAAAAABgT0YrbmmaIBHQLrPH5X0GEGUhWOcl2XFPZDqy_xmIuGCSpANJ7maP_cYSjRTI1k-kv6U7Fg89A_M7JgtZfgeRuEmXnA"
        },
        "sgiam": {
          "user": "sgiamadmin",
          "secret": "gAAAAABgT0YfdNeObNWEGwfJ-x3wFWmPuna5mQssaYnkJ4FDmthpOFjfjfS7s75lM9RRnYMmlmauQYYnaMMbSfQmgeKidez70Q"
        }
      }
    }
  },
  "cluster": {
    "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6": {
      "site": {
        "storage_set_count": "1"
      },
      "storage_set": [
        {
          "server_nodes": "['1114a50a6bf6f9c93ebd3c49d07d3fd4']"
        }
      ]
    }
  }
}