#
# Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.
#
# All the phases involved in setting up s3 server, irrespective of which
# provisioner keys they use, must need to follow inheritance hierarchy. This
# means any key used in a certain phase must be validated for all successive
# phases. This basis for validating provisioner keys should be strictly
# followed, or else will break the validation logic. The hierarchy
# ends with the last phase of s3 setup and the remaining phases will
# only be used for test, reset or cleanup. Unsolicited keys which are
# not used in the setup phases should be added to the bottom of the file.
# Also note, there are 3 token-strings used in this file :
# "machine-id"- used to substitute machine id of the node
# "cluster-id"- used to substitute cluster id of the setup, not to be confused
#               with cluster_id which is component of a key.
# "storage-set-count"- storage set count, not to be confused with
#                      storage_set_count which is component of a key.

POST_INSTALL:
PREPARE:
CONFIG:
  CONFSTORE_LDAPADMIN_USER_KEY: "cortx>software>openldap>sgiam>user"
  CONFSTORE_LDAPADMIN_PASSWD_KEY: "cortx>software>openldap>sgiam>secret"
  CONFSTORE_ROOTDN_USER_KEY: "cortx>software>openldap>root>user"
  CONFSTORE_ROOTDN_PASSWD_KEY: "cortx>software>openldap>root>secret"
  CONFSTORE_CLUSTER_ID_KEY: "server_node>machine-id>cluster_id"
  CONFSTORE_S3INSTANCES_KEY: "server_node>machine-id>s3_instances"
  CONFSTORE_HOSTNAME_KEY: "server_node>machine-id>hostname"
  CONFSTORE_STORAGE_SET_COUNT_KEY: "cluster>cluster-id>site>storage_set_count"
  CONFSTORE_STORAGE_SET_SERVER_NODES_KEY: "cluster>cluster-id>storage_set[storage-set-count]>server_nodes"
  CONFSTORE_PUBLIC_FQDN_KEY: "server_node>machine-id>network>data>public_fqdn"
  CONFSTORE_PRIVATE_FQDN_KEY: "server_node>machine-id>network>data>private_fqdn"
INIT:
# Inheritance hierarchy ends here.

TEST:
  CONFSTORE_LDAPADMIN_USER_KEY: "cortx>software>openldap>sgiam>user"
  CONFSTORE_LDAPADMIN_PASSWD_KEY: "cortx>software>openldap>sgiam>secret"
  CONFSTORE_ENDPOINT_KEY: "endpoint_fqdn"
RESET:
  CONFSTORE_LDAPADMIN_USER_KEY: "cortx>software>openldap>sgiam>user"
  CONFSTORE_LDAPADMIN_PASSWD_KEY: "cortx>software>openldap>sgiam>secret"
  CONFSTORE_ROOTDN_USER_KEY: "cortx>software>openldap>root>user"
  CONFSTORE_ROOTDN_PASSWD_KEY: "cortx>software>openldap>root>secret"
CLEANUP:
  CONFSTORE_LDAPADMIN_USER_KEY: "cortx>software>openldap>sgiam>user"
  CONFSTORE_LDAPADMIN_PASSWD_KEY: "cortx>software>openldap>sgiam>secret"

# Unsolicited Keys should be added to the bottom.
LDAP_USER: "cn={},dc=seagate,dc=com"
LDAP_URL: "ldapi:///"
CONFSTORE_OPENLDAP_CONST_KEY: "cortx"
CONFSTORE_SITE_COUNT_KEY: "cluster>cluster-id>site_count"

