[Unit]
Description=Mero-S3 Auth Server

[Service]
Type=simple
ExecStart=/opt/seagate/cortx/auth/startauth.sh
ExecStop=/bin/kill -TERM $MAINPID
TimeoutSec=300

[Install]
WantedBy=multi-user.target
