[Unit]
Description=Motr-S3 Core instance Server

[Service]
Type=forking
ExecStart=/opt/seagate/cortx/s3/s3startsystem.sh %i
ExecStop=/opt/seagate/cortx/s3/s3stopsystem.sh %i
TimeoutStopSec=7

[Install]
WantedBy=multi-user.target
