#
# Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.
#
version=1
#Server Properties
nettyBossGroupThreads=1
nettyWorkerGroupThreads=8
nettyEventExecutorThreads=32
httpPort=9085
httpsPort=9086
defaultHost=0.0.0.0
logFilePath=/var/log/seagate/auth/server
samlMetadataFileName=saml-metadata.xml
dataSource=ldap
ldapHost=127.0.0.1
ldapPort=389
ldapSSLPort=636
enableSSLToLdap=false
ldapMaxCons=100
ldapMaxSharedCons=100
ldapLoginDN=cn=sgiamadmin,dc=seagate,dc=com
# ldapLoginPW value needs to be encrypted and updated here
# Use AuthPassEncryptCLI.jar CLI to encrypt the password
ldapLoginPW=Rofaa+mJRYLVbuA2kF+CyVUJBjPx5IIFDBQfajmrn23o5aEZHonQj1ikUU9iMBoC6p/dZtVXMO1KFGzHXX3y1A==
consoleURL=https://console.s3.seagate.com:9292/sso
enable_https=false
enable_http=true
enableFaultInjection=false
perfEnabled=false
perfLogFile=/var/log/seagate/auth/perf.log
defaultEndpoint=127.0.0.1
s3Endpoints=s3-us-west-2.seagate.com,s3-us.seagate.com,s3-europe.seagate.com,s3-asia.seagate.com,s3.seagate.com
#Auth Server to S3 connection will be over http or https as specified below.
enableHttpsToS3=false


logConfigFile=/opt/seagate/cortx/auth/resources/authserver-log4j2.xml

# Uncomment this to override log level.
# Note - setting this will override the logging level of root logger.
# If this option is set along with logConfigFile, the log level set in the
# config file will be overridden.
#
#logLevel=DEBUG

#comma separated list of s3 internal accounts
s3InternalAccounts=s3-background-delete-svc,s3-recovery-svc
