#
# Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.
#
version=1
#S3 Auth Server EncryptUtil Properties
s3KeyStoreName=s3authserver.jks
s3KeyStorePath=/opt/seagate/cortx/auth/resources
s3KeyStorePassword=seagate
s3KeyPassword=seagate
s3AuthCertAlias=s3auth_pass
s3CipherUtil=s3cipher --use_base64 --key_len 12 --const_key openldap

# Uncomment this to override logging config file.
#
# logConfigFile=<PATH TO CONFIG FILE>

# Uncomment this to override log level.
# Note - setting this will override the logging level of root logger.
# If this option is set along with logConfigFile, the log level set in the
# config file will be overridden.
#
#logLevel=DEBUG
