#
# Copyright (c) 2021 Seagate Technology LLC and/or its Affiliates
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.
#
# This file should only contain the mandatory parameters from provisioner confstore.
# All the optional parameters should be added to default in s3_prov_config.yaml under DEFAULT_INIT.

cortx:
  common:
    product_release: "LC"
    setup_type: "k8"
    storage:
      log: "/var/log/cortx/"
      local: "/etc/cortx"
  external:
    openldap:
      admin: "admin"
      secret: "gAAAAABgWFRxlYPfMDe3j03DlE1gDxsr8d7MJ5upQ2k8UC2fCU-kSWlf0tb5M3aBXOxNDnT8Rb_M2b0w9UOgw9CQH-fSKzn6sA=="
      endpoints:
      - ldap://openldap-svc:389
      - ssl://openldap-svc:636
      servers:
      - openldap-svc
      - openldap-svc
      - openldap-svc
  s3:
    auth_secret: "gAAAAABgWFPz2w_t6IBVictZmgTCgBXn5V-oy2JUVtvZkJvHM5KaaZKXRwtz4YKYieIy8mVKF8PUaZ6WYJEttcsi2KDpLOk9Vg=="
    iam:
      endpoints:
      - https://iam.seagate.com:9443
      - http://iam.seagate.com:9080
    data:
      endpoints:
      - https://s3.seagate.com:443
      - http://s3.seagate.com:80
    internal:
      endpoints:
      - http://cortx-io-svc:28049
cluster:
  id: "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6"
  storage_set_count: 1
  storage_set:
    - nodes:
      - 1114a50a6bf6f9c93ebd3c49d07d3fd4
node:
  1114a50a6bf6f9c93ebd3c49d07d3fd4:
    name: "POD-1"
    hostname: "ssc-vm-0080.colo.seagate.com"
    cluster_id: "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6"
    type: storage_node
