swagger: '2.0'
info:
  version: latest
  description: aws s3api complete-multipart-upload --multipart-upload \<mpustruct_file> --bucket <your_bucket> --key \<key> --upload-id \<id>
  title: S3 API - Complete Multipart Upload
host: s3.seagate.com
schemes:
  - http
  - https
paths:
  /{bucket_name}/{object_name}:
    post:
      tags:
        - Complete multipart upload
      parameters:
        - name: bucket_name
          in: path
          type: string
          required: true
        - name: object_name
          in: path
          type: string
          required: true
        - name: uploadId
          in: query
          type: string
          required: true
        - name: Host
          in: header
          description: Host header specifies the host and port number of the server.
          type: string
          required: true
        - name: Accept-Encoding
          in: header
          description: The Accept-Encoding request HTTP header advertises which content encoding.
          type: string
          required: true
        - name: User-Agent
          in: header
          description: Header to identify application, it's version number and programming language.
          type: string
          required: true
        - name: X-Amz-Date
          in: header
          description: Date header used to create the signature.
          type: string
          required: true
        - name: X-Amz-Content-SHA256
          in: header
          description: This header value informs whether s3 request signed or not.
          type: string
          required: true
        - name: Authorization
          in: header
          description: >-
            This Header contains credentials to authorize a User-Agent with
            server.
          type: string
          required: true
        - name: Content-Length
          in: header
          description: This header indicates the size of the message body, in bytes, sent
            to the recipient.
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          description: This header identify the originating IP address of a client connecting to a web server.
          type: string
          required: true
      produces:
        - application/xml
      responses:
        200:
          description: OK
          schema:
            type: object
            xml:
              name: CompleteMultipartUploadResult
            properties:
              Location:
                type: string
              Bucket:
                type: string
              Key:
                type: string
              ETag:
                type: string
          headers:
            x-amz-request-id:
              type: string
            Content-Length:
              type: integer
            Content-Type:
              type: string
            Server:
              type: string
        400:  
          description: Request Timeout - The client did not produce a request within the time that the server was prepared to wait.
        403:
          description: |
            Access Denied.

            Invalid AccessKey Id - The AWS access key Id you provided does not exist in our records.
        404:
          description: |
            No Such Upload - The specified multipart upload does not exist. The upload ID might be invalid, or the multipart upload might have been aborted or completed.
            
            Invalid Part - One or more of the specified parts could not be found. The part might not have been uploaded, or the specified entity tag might not have matched the part's entity tag.
        500:
          description: Internal Error - We encountered an internal error. Please try again.
        503: 
          description: Service Unavailable - Reduce your request rate.